<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>九州工業大学陸上競技部</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/top.css">
        <link rel="stylesheet" href="/css/members.css">
        <link rel="stylesheet" href="/css/output.css">
         <!-- jQueryを読み込む -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
      <div id="header">
       <script>
           fetch("/header.ejs")
               .then(response => response.text())
               .then(data => {
                   document.querySelector("#header").innerHTML = data;
               })
               .catch(error => console.error('Error fetching header:', error));
       </script>
      </div>
        
      <main class="backgraund">
        <div id="member">
          <%let ImgUrl = [];
            let event_title=['','B1','B2','B3','B4','M1','M2'];
          %>
          <h2>選手紹介</h2>
          <%for(let k=1;k< 7;k++){ %>
            <div class="event-title">
              <h3><%=event_title[k]%></h3>
            </div>
            <div class="cards-wrapper">
            <% for(let i = 0; i < data[k].length ; i++) {
              ImgUrl.push(data[k][i].url);
              %>
              
                <div class="card-wrapper">
                  <div class="card-1 card-object card-object-hf">
                    <a class="face front" href="#">
                      <div class="title-wrapper">
                        <div class="title"><%= data[k][i].name%></div>
                        <div class="subtitle"><%=data[k][i].day%></div>
                      </div>
                    </a>
                    <a class="face back" href="#">
                      <div class="img-wrapper">
                        <div class="avatar"></div>
                      </div>
                      <div class="info-wrapper">
                        <div class="info-title"><%=data[k][i].name%></div>
                        <ul class="info-content">
                          <li class="info-content-item">種目<span><%=data[k][i].event1%><br></span></li>
                          <li class="info-content-item">PB&UB <span><%=data[k][i].PB1%><br></span></li>
                          <li class="info-content-item">学科 <span><%=data[k][i].subject%></span></li>
                        </ul>
                      </div>
                    </a>
                  </div>
                </div>
            
            <%}%>
          </div>
          <%}%>
        </div>
      <div id="array-container" data-array="<%=JSON.stringify(ImgUrl)%>"></div>
      </main>
     

      <!-- フッターの埋め込み -->
      <div id="footer">
      <script>
      fetch("/footer.ejs")
        .then((response) => response.text())
        .then((data) => document.querySelector("#footer").innerHTML = data);
      </script>
      </div>
      <script src="/js/member_reco.js"></script>
    </body>
</html>
