<!DOCTYPE html>
<html>
<head>
    <title>大会一覧</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/tournament.css">
    <link rel="stylesheet" href="/css/top.css">
</head>
<body>
    <%- include('header') %>

    <div class="table-container">
        <h1>大会一覧</h1>
        <table>
            <thead>
                <tr>
                    <th>日付</th>
                    <th>大会名</th>
                    <th>場所</th>
                </tr>
            </thead>
            <tbody>
                <% tournaments.forEach(tournament => { %>
                    <tr>
                        <td><%= tournament.date.toISOString().split('T')[0] %></td>
                        <td><a href="/tournamentrecord/<%= tournament.id %>"><%= tournament.name %></a></td>
                        <td><%= tournament.place %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    
    <%- include('footer') %>
</body>
</html>
