<!DOCTYPE html>
<html>
<head>
    <title>大会記録</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/tournamentrecord.css">
    <link rel="stylesheet" href="/css/top.css">
</head>
<body>
    <%- include('header') %>

    <div class="table-container">
        <h1>大会記録</h1>
        <% for (let event in events) { %>
            <% if (events[event].length > 0) { %>
                <h2><%= event %></h2>
                <table>
                    <thead>
                        <tr>
                            <th>選手の名前</th>
                            <th>学年</th>
                            <th>記録</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% events[event].forEach(record => { %>
                            <tr>
                                <td><%= record.name %></td>
                                <td><%= record.grade %></td>
                                <td><%= record.record %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } %>
        <% } %>
    </div>

    <%- include('footer') %>
</body>
</html>
